<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>新增商品</title>
    <link
      href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="contaniner">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">新增商品</h3>
        </div>
        <div class="panel-body">
          <form action="/products" method="POST" role="form">
            <legend>请填写数据</legend>

            <div class="form-group">
              <label for="">商品编号</label>
              <input
                type="text"
                class="form-control"
                id=""
                name="pid"
                placeholder="Input field"
              />
            </div>
            <div class="form-group">
              <label for="">商品名称</label>
              <input
                type="text"
                class="form-control"
                id=""
                name="pname"
                placeholder="Input field"
              />
            </div>
            <div class="form-group">
              <label for="">商品价格</label>
              <input
                type="text"
                class="form-control"
                id=""
                name="pprice"
                placeholder="Input field"
              />
            </div>
            <div class="form-group">
              <label for="">商品描述</label>
              <input
                type="text"
                class="form-control"
                id=""
                name="pdesc"
                placeholder="Input field"
              />
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
